---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<twilio account sid>/Messages.json
    body:
      encoding: UTF-8
      string: Body=bro&To=111111&From=5595542742
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM0MWZkMGUxNGMwMTI4ZjE1NmEyMDAxZjcxNDRkYTE1NTo3MzJjZTljMzlhOTQwODM3YjE0OTU1ZDc1YTQyNDY5Yg==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.300'
      Twilio-Request-Id:
      - RQf1590dc790a8490c88646f1bc233e07c
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21211, "message": "The ''To'' number 111111 is not a valid
        phone number.", "more_info": "https://www.twilio.com/docs/errors/21211", "status":
        400}'
  recorded_at: Tue, 28 Feb 2017 22:24:05 GMT
recorded_with: VCR 3.0.3
