---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<twilio account sid>/Messages.json
    body:
      encoding: UTF-8
      string: Body=bro&To=111111111&From=5033032929
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM0MWZkMGUxNGMwMTI4ZjE1NmEyMDAxZjcxNDRkYTE1NTo3MzJjZTljMzlhOTQwODM3YjE0OTU1ZDc1YTQyNDY5Yg==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.113'
      Twilio-Request-Id:
      - RQfdaf36e5f2c140a3b851a449aa361e53
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21212, "message": "The ''From'' number 5033032929 is not a
        valid phone number, shortcode, or alphanumeric sender ID.", "more_info": "https://www.twilio.com/docs/errors/21212",
        "status": 400}'
  recorded_at: Tue, 28 Feb 2017 22:24:04 GMT
recorded_with: VCR 3.0.3
